
/*My updated styling in a more logical order!!*/

body {
	width: 900px;
	margin: 0 auto;
	font-family: 'Droid Serif', serif;
	font-weight: 400;
}
h1 {
  font-size: 35px;
  font-family: 'Yellowtail', cursive;
  display: inline;
}

hr {
	height: 4px;
}

h2 {
	font-size: 16px;
	fontt-family:'Abel';
	font-weight: 400;
}

.cp {
	font-family:'Abel';
	font-size: 40px;
	font-weight: 700;
}

.print {
	float: right;	
}

.groceryList {
	font-family: 'Patrick Hand', cursive;
	font-weight: 400;
	position: fixed
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 10px;
	width: 100%;
	background-image: url("images/list-bg.png");
	box-shadow: 3px 3px 3px #888888;
	z-index: 10;
}

.groceries {
	display: inline-block;
	width: 48%;
}
address {
	font-style: none;
}

button {
	font-style:'Abel', sans-serif;
	padding: 8px 12px 10px;
	border: 6px outset buttonface;
	background-color: orange;
}
/*tried to make this button "rust" or "E67451" but couldnt get either to work*/

footer {
	text-align: center;
}

.ftlogo {
	text-align: center;
}


	








