* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, object, h1, h2, h3, p, a, em, img, q, strong, var, b, u, i, ol, ul, li,
form, label, table, tr, th, td, article, aside, footer, header, menu, nav,section,
time, 

{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric's Reset and beginning of my styling*/





body {
	width: 900px;
	margin: 0 auto;
}

header{
	width: 960px;
	margin: 0 auto;
}
header img {
  margin: 0;
}

section.top {
	margin: 0;
	float: left;
}
 h1 {
  font-size: 2.5em;
  font-family: 'Yellowtail', cursive;
  display: inline;
}

.socialMedia {
  margin-right: 5px;
  padding: 0;
}

header h2 {
	font-family: 'Abel', sans-serif;
	font-weight: 700;
}

hr {
  clear: both;
}

p, h3 {
	font-family: 'Droid Serif', serif;
	font-weight: 400;}

.socialMedia {
  float:right;
}


p {
	font-family: 'Droid Serif', serif;
	font-weight: 400;}

.groceryList {
	font-family: 'Patrick Hand', cursive;
	font-weight: 400;
	position: fixed
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 10px;
	width: 100%;
	background-image: url("images/list-bg.png");
	z-index: 10;
}

.groceries {
	display: inline-block;
	width: 48%;
}

address {
	font-style: none;
}
h3 {
	display: inline-block;
}
button {
	float: right;
}


@font-face {
	font-family: "Yellowtail";
	src url ("http://fonts.googleapis.com/css?family=Abel|Patrick+Hand|Yellowtail|Droid+Serif' rel='stylesheet' type='text/css'");
}








