* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, object,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li,
form, label, legend, table,tr, th, td,
article, aside, figure, footer, header, hgroup, 
menu, nav, output, section,
time, {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric's Reset and beginning of my styling*/
@font-face{
	font-family: "Yellowtail";
	src url ("wwww.google.com/webfonts");
}

h1 {
	font-family: 'Yellowtail', cursive;
	font-weight: 700;
}
h2 {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
}

p {
	font-family: 'Slabo 27px', serif;
	font-weight: 400;
}

li{
	font-family: 'Coming Soon', cursive;
	font-weight: 400;
}

nav{
	text-align: right;
}

li {
	position: fixed
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 10px;
	width: 100%;
	background-color: red;
	z-index: 10;
}

div {
	position: relative;
	top: 70px;
	left: 70px;	
}


